$primary: #002979;
$secondary: #A4A4A4;
$icons: #CCCCCC;
$main-accent: #4778EB;
$second-accent: #00D9D9;
$hover: #E8EFF6;
$disabled: #4778eb33;
$white: #ffffff;
$black: #000000;
$red: red;
$shadow-color: rgb(0 0 0 / 10%);
$hover-box-shadow: 0 3px 7px 0 rgb(23 32 49 / 40%);
$modal-background: #00000066;
$body-font-size: 14px;
$body-padding-mobile: 16px;
$body-padding-tablet: 24px;
$body-padding-desktop: 32px;
$header-height-mobile: 80px;
$header-height-desktop: 100px;
$footer-height-mobile: 213px;
$footer-height-desktop: 100px;
$menu-height-mobile: 64px;
$menu-width-tablet: 192px;
$menu-width-desktop: 382px;
$max-width: 1200px;
$content-padding-top-mobile: 30px;
$content-padding-top-desktop: 50px;
$content-padding-bottom: 20px;
$content-padding-inline-mobile: 10px;
$content-padding-inline-desktop: 20px;
