$primary: #002979;
$secondary: #A4A4A4;
$icons: #CCCCCC;
$main-accent: #4778EB;
$second-accent: #00D9D9;
$hover: #E8EFF6;
$white: #ffffff;
$black: #000000;
$shadow-color: rgb(0 0 0 / 10%);
$hover-box-shadow: 0 3px 7px 0 rgb(23 32 49 / 40%);
$modal-background: #00000066;
$body-font-size: 14px;
$body-padding-mobile: 16px;
$body-padding-tablet: 24px;
$body-padding-desktop: 32px;
$header-height-mobile: 80px;
$header-height-desktop: 100px;
$footer-height-mobile: 213px;
$footer-height-desktop: 100px;
$max-width: 1200px;
